// Typography
@import url(//fonts.googleapis.com/css?family=Open+Sans)
$fontstack: 'Open Sans', sans-serif

// Colors
$background: white
$dark-gray: #D2D4DF
$black: #06060A
$white: #F3F3F8
$yellow: #D3C84F

body
	background: $background
	color: $yellow

#clock
	position: fixed
	width: 100px
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	#face, #pin
		fill: $black
	#minute, #hour
		fill: $white
	#second
		fill: $yellow
	#markers, #digits, #braun
		fill: $dark-gray

#description
	position: fixed
	left: 50px
	bottom: 50px
	margin: 0
	max-width: 300px
	padding-right: 50px
	text-transform: uppercase
	line-height: 1.4
	font:
		family: $fontstack
		size: 12px
		weight: 400
	-webkit-font-smoothing: antialiased