doctype
html(lang="en")
	head
		title SVG/JS Clock
		meta(charset='UTF-8')
		meta(content='SVG/JS Clock based on Dieter Rams\' classic watch design for Braun in the 1970s.' class name='description')
		meta(content='Knut M. Synstad' name='author')
		meta(content='3 days' name='revisit-after')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		//- link(rel='shortcut icon' href='/favicon.ico')
		link(rel='stylesheet' href='styles/main.min.css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')

	body
		p#description SVG/JS Clock based on Dieter Rams' classic watch design for Braun in the 1970s.
		svg#clock(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 100 100')
			path#face(d='M60.395,1.103C33.388-4.638,6.844,12.604,1.103,39.609C-4.637,66.613,12.6,93.158,39.605,98.896c27.009,5.741,53.551-11.496,59.291-38.5C104.638,33.39,87.401,6.843,60.395,1.103z')
			g#markers
				rect(x='91.374' y='49.498' width='8.626' height='1')
				rect(x='97.491' y='42.981' transform='matrix(0.1055 0.9944 -0.9944 0.1055 132.1591 -56.9607)' width='0.5' height='3.999')
				rect(x='96.705' y='38.019' transform='matrix(0.207 0.9783 -0.9783 0.207 116.038 -63.1201)' width='0.5' height='4')
				rect(x='95.404' y='33.167' transform='matrix(0.3086 0.9512 -0.9512 0.3086 99.5857 -66.6713)' width='0.5' height='4')
				rect(x='93.603' y='28.476' transform='matrix(0.4058 0.914 -0.914 0.4058 83.624 -67.6701)' width='0.501' height='4')
				rect(x='89.065' y='22.842' transform='matrix(0.4999 0.8661 -0.8661 0.4999 68.3079 -63.9905)' width='1' height='8.625')
				rect(x='88.586' y='19.784' transform='matrix(0.5893 0.8079 -0.8079 0.5893 54.0804 -62.8242)' width='0.5' height='3.999')
				rect(x='85.424' y='15.88' transform='matrix(0.669 0.7433 -0.7433 0.669 41.6511 -57.762)' width='0.499' height='4.001')
				rect(x='81.873' y='12.327' transform='matrix(0.7424 0.6699 -0.6699 0.7424 30.7517 -51.3262)' width='0.499' height='4')
				rect(x='77.967' y='9.166' transform='matrix(0.8088 0.5881 -0.5881 0.8088 21.5195 -43.8611)' width='0.5' height='3.999')
				rect(x='72.344' y='6.121' transform='matrix(0.8656 0.5008 -0.5008 0.8656 15.0158 -35.0748)' width='0.998' height='8.624')
				rect(x='69.274' y='4.147' transform='matrix(0.9138 0.4061 -0.4061 0.9138 8.4885 -27.7066)' width='0.5' height='3.999')
				rect(x='64.583' y='2.346' transform='matrix(0.9511 0.3089 -0.3089 0.9511 4.5136 -19.8153)' width='0.501' height='4.002')
				rect(x='59.732' y='1.045' transform='matrix(0.9781 0.2083 -0.2083 0.9781 1.9506 -12.4289)' width='0.499' height='4.002')
				rect(x='54.768' y='0.26' transform='matrix(0.9946 0.1034 -0.1034 0.9946 0.5284 -5.6749)' width='0.501' height='4')
				rect(x='49.499' width='1' height='8.626')
				rect(x='42.982' y='2.01' transform='matrix(0.106 0.9944 -0.9944 0.106 42.4621 -42.7086)' width='4' height='0.5')
				rect(x='38.019' y='2.796' transform='matrix(0.2087 0.978 -0.978 0.2087 34.6484 -36.7281)' width='4.002' height='0.5')
				rect(x='33.165' y='4.096' transform='matrix(0.3101 0.9507 -0.9507 0.3101 28.3916 -30.4335)' width='4.002' height='0.5')
				rect(x='28.475' y='5.897' transform='matrix(0.4075 0.9132 -0.9132 0.4075 23.6712 -24.1878)' width='4' height='0.501')
				rect(x='22.843' y='9.934' transform='matrix(0.5001 0.866 -0.866 0.5001 22.6108 -18.2995)' width='8.625' height='1')
				rect(x='19.784' y='10.915' transform='matrix(0.5888 0.8083 -0.8083 0.5888 17.981 -13.0162)' width='3.999' height='0.5')
				rect(x='15.879' y='14.077' transform='matrix(0.6697 0.7427 -0.7427 0.6697 16.546 -8.546)' width='4.001' height='0.5')
				rect(x='12.326' y='17.629' transform='matrix(0.744 0.6682 -0.6682 0.744 15.6152 -4.9956)' width='4.002' height='0.5')
				rect(x='9.164' y='21.534' transform='matrix(0.8094 0.5873 -0.5873 0.8094 14.9224 -2.4038)' width='4' height='0.5')
				rect(x='6.12' y='26.657' transform='matrix(0.8661 0.4999 -0.4999 0.8661 14.9743 -1.5783)' width='8.626' height='1')
				rect(x='4.147' y='30.225' transform='matrix(0.9141 0.4055 -0.4055 0.9141 12.8866 0.1258)' width='4' height='0.5')
				rect(x='2.346' y='34.916' transform='matrix(0.9512 0.3085 -0.3085 0.9512 11.0616 0.3746)' width='4.001' height='0.5')
				rect(x='1.044' y='39.769' transform='matrix(0.9784 0.2068 -0.2068 0.9784 8.3409 0.2353)' width='4.003' height='0.5')
				rect(x='0.259' y='44.732' transform='matrix(0.9946 0.104 -0.104 0.9946 4.6892 0.0089)' width='4.001' height='0.5')
				rect(y='49.501' width='8.625' height='1')
				rect(x='2.009' y='53.018' transform='matrix(0.1053 0.9944 -0.9944 0.1053 56.7331 46.9779)' width='0.501' height='4')
				rect(x='2.796' y='57.98' transform='matrix(0.2093 0.9779 -0.9779 0.2093 61.061 44.4504)' width='0.499' height='4.001')
				rect(x='4.097' y='62.832' transform='matrix(0.3109 0.9504 -0.9504 0.3109 64.6139 40.5429)' width='0.499' height='4.002')
				rect(x='5.897' y='67.526' transform='matrix(0.4078 0.9131 -0.9131 0.4078 67.1227 35.5622)' width='0.501' height='3.999')
				rect(x='9.935' y='68.53' transform='matrix(0.5008 0.8656 -0.8656 0.5008 68.2609 27.3342)' width='0.998' height='8.626')
				rect(x='10.915' y='76.215' transform='matrix(0.5893 0.8079 -0.8079 0.5893 67.7742 23.1002)' width='0.5' height='4')
				rect(x='14.077' y='80.119' transform='matrix(0.671 0.7414 -0.7414 0.671 65.5997 16.3939)' width='0.499' height='4.001')
				rect(x='17.629' y='83.671' transform='matrix(0.7442 0.668 -0.668 0.7442 61.8022 9.9747)' width='0.5' height='4.002')
				rect(x='21.535' y='86.836' transform='matrix(0.8097 0.5868 -0.5868 0.8097 56.2707 4.1182)' width='0.499' height='3.998')
				rect(x='26.658' y='85.252' transform='matrix(0.8661 0.4999 -0.4999 0.8661 48.4129 -1.5813)' width='1' height='8.627')
				rect(x='30.226' y='91.852' transform='matrix(0.9138 0.4061 -0.4061 0.9138 40.7434 -4.2884)' width='0.5' height='4')
				rect(x='34.916' y='93.653' transform='matrix(0.9512 0.3086 -0.3086 0.9512 31.2349 -6.1836)' width='0.5' height='4.001')
				rect(x='39.769' y='94.953' transform='matrix(0.9783 0.207 -0.207 0.9783 20.9355 -6.1839)' width='0.5' height='4.001')
				rect(x='44.733' y='95.741' transform='matrix(0.9946 0.1036 -0.1036 0.9946 10.3644 -4.1331)' width='0.5' height='3.998')
				rect(x='49.501' y='91.374' width='1' height='8.626')
				rect(x='53.019' y='97.488' transform='matrix(0.1065 0.9943 -0.9943 0.1065 146.3438 32.6268)' width='3.999' height='0.501')
				rect(x='57.981' y='96.703' transform='matrix(0.209 0.9779 -0.9779 0.209 142.2599 18.0359)' width='4' height='0.499')
				rect(x='62.833' y='95.404' transform='matrix(0.3104 0.9506 -0.9506 0.3104 135.6414 4.3335)' width='4.002' height='0.499')
				rect(x='67.527' y='93.602' transform='matrix(0.4076 0.9132 -0.9132 0.4076 126.8879 -7.891)' width='3.999' height='0.5')
				rect(x='68.533' y='89.065' transform='matrix(0.5001 0.866 -0.866 0.5001 113.975 -18.31)' width='8.627' height='0.999')
				rect(x='76.217' y='88.583' transform='matrix(0.5889 0.8082 -0.8082 0.5889 103.9465 -26.6969)' width='4' height='0.5')
				rect(x='80.121' y='85.421' transform='matrix(0.6698 0.7425 -0.7425 0.6698 90.7309 -32.6896)' width='4.001' height='0.5')
				rect(x='83.673' y='81.869' transform='matrix(0.7442 0.668 -0.668 0.7442 76.7753 -36.2209)' width='4.001' height='0.499')
				rect(x='86.838' y='77.965' transform='matrix(0.8099 0.5866 -0.5866 0.8099 62.7753 -37.2423)' width='3.999' height='0.499')
				rect(x='85.256' y='72.341' transform='matrix(0.8662 0.4998 -0.4998 0.8662 48.3914 -35.0143)' width='8.625' height='0.999')
				rect(x='91.853' y='69.273' transform='matrix(0.9143 0.4051 -0.4051 0.9143 36.2116 -32.0608)' width='3.999' height='0.5')
				rect(x='93.654' y='64.583' transform='matrix(0.9513 0.3082 -0.3082 0.9513 24.6414 -26.3274)' width='4.001' height='0.501')
				rect(x='94.954' y='59.731' transform='matrix(0.9784 0.2069 -0.2069 0.9784 14.5075 -18.7618)' width='4.003' height='0.499')
				rect(x='95.742' y='54.767' transform='matrix(0.9947 0.103 -0.103 0.9947 6.1888 -9.7778)' width='4' height='0.501')
			g#digits
				g
					path(d='M48.441,18.024H47.69v-3.989h-1.312v-0.56c0.911-0.064,1.287-0.152,1.511-1.072h0.552V18.024z')
					path(d='M50.051,14.418c0-1.831,1.336-2.016,1.943-2.016c0.976,0,1.759,0.632,1.759,1.68c0,1.007-0.664,1.431-1.503,1.879l-0.584,0.319c-0.768,0.424-0.936,0.864-0.968,1.08h3.055v0.663h-3.846c0.04-1.167,0.567-1.791,1.319-2.23l0.743-0.432c0.6-0.344,1.031-0.576,1.031-1.312c0-0.447-0.287-1.016-1.111-1.016c-1.063,0-1.111,0.992-1.135,1.384H50.051z')
				g
					path(d='M31.827,22.583h-0.751v-3.99h-1.312v-0.56c0.911-0.063,1.287-0.152,1.511-1.071h0.552V22.583z')
					path(d='M35.955,22.583h-0.751v-3.99h-1.312v-0.56c0.911-0.063,1.287-0.152,1.511-1.071h0.552V22.583z')
				g
					path(d='M19.482,34.809h-0.751V30.82H17.42v-0.56c0.911-0.064,1.287-0.152,1.511-1.072h0.552V34.809z')
					path(d='M22.843,34.961c-1.615,0-1.927-1.719-1.927-2.887c0-1.167,0.312-2.887,1.927-2.887s1.927,1.72,1.927,2.887C24.77,33.243,24.458,34.961,22.843,34.961z M22.843,29.82c-0.808,0-1.175,0.848-1.175,2.255s0.367,2.255,1.175,2.255s1.176-0.848,1.176-2.255S23.65,29.82,22.843,29.82z')
				path(d='M12.716,48.383c0-1.023,0.624-1.928,1.807-1.928c1.791,0,1.967,1.695,1.967,2.607c0,0.6-0.104,3.167-2.038,3.167c-1.319,0-1.672-0.96-1.672-1.503h0.704c0.04,0.568,0.376,0.919,0.951,0.919c0.768,0,1.176-0.648,1.352-2.103l-0.017-0.017c-0.207,0.433-0.768,0.672-1.287,0.672C13.443,50.198,12.716,49.502,12.716,48.383zM15.666,48.287c0-0.64-0.328-1.199-1.136-1.199c-0.655,0-1.087,0.512-1.087,1.264c0,1.079,0.672,1.215,1.144,1.215C14.954,49.566,15.666,49.398,15.666,48.287z')
				path(d='M21.093,66.456c0.76,0.32,0.92,0.943,0.92,1.367c0,0.903-0.576,1.775-1.903,1.775c-0.312,0-0.903-0.08-1.351-0.432c-0.576-0.456-0.576-1.063-0.576-1.336c0-0.688,0.36-1.127,0.951-1.367c-0.479-0.184-0.759-0.567-0.759-1.095c0-0.584,0.359-1.544,1.703-1.544c1.247,0,1.734,0.792,1.734,1.447C21.813,66.08,21.341,66.328,21.093,66.456z M18.935,67.848c0,0.447,0.224,1.119,1.199,1.119c0.512,0,1.127-0.184,1.127-1.063c0-0.76-0.527-1.096-1.167-1.096C19.302,66.808,18.935,67.328,18.935,67.848z M21.085,65.297c0-0.344-0.224-0.84-1.047-0.84c-0.752,0-0.936,0.52-0.936,0.88c0,0.535,0.472,0.863,0.983,0.863C20.693,66.2,21.085,65.809,21.085,65.297z')
				path(d='M30.521,76.164h3.886v0.616c-0.56,0.583-1.903,2.374-2.311,4.885H31.32c0.191-1.543,1.215-3.558,2.294-4.813h-3.094V76.164z')
				path(d='M50.919,82.478c-0.088-0.496-0.359-0.864-0.968-0.864c-1.103,0-1.335,1.487-1.335,2.079l0.017,0.016c0.176-0.304,0.567-0.688,1.335-0.688c0.688,0,1.759,0.44,1.759,1.783c0,0.576-0.151,0.991-0.535,1.407c-0.296,0.328-0.632,0.544-1.424,0.544c-0.432,0-1.047-0.192-1.447-0.815c-0.336-0.528-0.432-1.216-0.432-1.951c0-1.231,0.4-3.007,2.079-3.007c0.647,0,1.567,0.353,1.639,1.496H50.919z M49.896,86.123c0.672,0,1.104-0.527,1.104-1.287c0-0.496-0.264-1.184-1.136-1.184c-0.775,0-1.151,0.56-1.151,1.224C48.712,85.476,49.072,86.123,49.896,86.123z')
				path(d='M65.902,78.79c0.239-0.185,0.583-0.353,1.087-0.353c0.911,0,1.847,0.64,1.847,1.8c0,0.623-0.279,1.975-2.038,1.975c-0.736,0-1.68-0.296-1.815-1.552h0.728c0.072,0.656,0.56,0.944,1.191,0.944c0.728,0,1.184-0.584,1.184-1.288c0-0.808-0.552-1.247-1.248-1.247c-0.407,0-0.775,0.192-1.039,0.536l-0.607-0.032l0.424-3.015h2.91v0.688h-2.383L65.902,78.79z')
				path(d='M80.065,68.651v1.367h-0.704v-1.367h-2.454v-0.688l2.574-3.566h0.584v3.646h0.823v0.607H80.065zM77.555,68.044h1.807v-2.551h-0.016L77.555,68.044z')
				path(d='M84.771,49.259c0.12,0.008,0.248,0.017,0.368,0.017c0.543,0,1.071-0.216,1.071-0.92c0-0.336-0.2-0.888-1.04-0.888c-0.999,0-1.063,0.815-1.095,1.208h-0.688c0-0.824,0.335-1.84,1.814-1.84c1.088,0,1.735,0.624,1.735,1.479c0,0.72-0.416,1.063-0.72,1.159v0.017c0.544,0.176,0.936,0.56,0.936,1.311c0,0.92-0.592,1.808-2.023,1.808c-0.415,0-0.768-0.104-1.039-0.248c-0.624-0.328-0.792-0.976-0.84-1.624h0.728c0.024,0.528,0.152,1.24,1.2,1.24c0.719,0,1.223-0.439,1.223-1.087c0-0.944-0.831-1.032-1.312-1.032c-0.104,0-0.216,0.009-0.319,0.009V49.259z')
				path(d='M78.369,31.613c0-1.831,1.336-2.016,1.943-2.016c0.976,0,1.759,0.632,1.759,1.68c0,1.007-0.664,1.431-1.503,1.879l-0.584,0.319c-0.768,0.424-0.936,0.864-0.968,1.08h3.055v0.663h-3.846c0.04-1.167,0.567-1.791,1.319-2.23l0.743-0.432c0.6-0.344,1.031-0.576,1.031-1.312c0-0.447-0.287-1.016-1.111-1.016c-1.063,0-1.111,0.992-1.135,1.384H78.369z')
				path(d='M68.269,22.729h-0.751v-3.99h-1.312v-0.56c0.911-0.063,1.287-0.152,1.511-1.071h0.552V22.729z')
			g#braun(transform='translate(35.43305,35.421298)')
				path(d='M20.914-1.602l-0.001-3.516c0-0.18-0.147-0.299-0.367-0.299c-0.221,0-0.365,0.119-0.365,0.299l-0.001,3.516l-0.736,0.001v-3.634c0-0.692,0.712-0.877,1.104-0.877c0.39,0,1.104,0.186,1.104,0.877v3.633H20.914')
				path(d='M17.971-6.071v3.518c0,0.18-0.148,0.299-0.367,0.299c-0.222,0-0.367-0.12-0.367-0.299v-3.518L16.501-6.07v3.634c0,0.692,0.712,0.877,1.104,0.877c0.389,0,1.104-0.186,1.104-0.877v-3.635H17.971')
				path(d='M14.073-6.474c0-0.337,0.309-0.381,0.479-0.381s0.478,0.043,0.478,0.381v2.23h-0.957L14.073-6.474M14.552-7.559c-0.312,0-1.215,0.07-1.215,0.975V-1.6h0.737v-1.951h0.956v1.949h0.736v-4.982C15.766-7.491,14.862-7.559,14.552-7.559L14.552-7.559z')
				path(d='M11.137-5.381c0,0,0.207,0,0.399,0c0.207,0,0.373,0.151,0.373,0.569c0,0.423-0.192,0.568-0.373,0.568c-0.199,0-0.399,0-0.399,0V-5.381 M12.638-3.097c0-0.558-0.173-0.714-0.408-0.848v-0.004c0.163-0.114,0.42-0.311,0.42-0.939c0-0.814-0.422-1.183-0.997-1.183c-0.194,0-1.252,0-1.252,0v4.469h0.735l0.001-1.95c0,0,0.2,0,0.399,0c0.209,0,0.359,0.174,0.359,0.568v1.382h0.742L12.638-3.097L12.638-3.097z')
				path(d='M8.632-2.291c-0.193,0-0.41,0-0.41,0v-1.261c0,0,0.21,0,0.41,0c0.28,0,0.411,0.209,0.411,0.584C9.043-2.454,8.887-2.291,8.632-2.291 M8.223-5.381c0,0,0.207,0,0.399,0c0.207,0,0.373,0.151,0.373,0.569c0,0.423-0.192,0.568-0.373,0.568c-0.199,0-0.399,0-0.399,0V-5.381z M9.315-3.944v-0.004c0.162-0.114,0.422-0.311,0.422-0.939c0-0.814-0.425-1.183-0.998-1.183c-0.195,0-1.253,0-1.253,0v4.469c0,0,0.699,0,1.246,0c0.707,0,1.05-0.523,1.05-1.304C9.782-3.633,9.497-3.835,9.315-3.944L9.315-3.944z')
			g#arms
				rect#hour(x='49.002' y='21.501' width='2' height='28.499')
				rect#minute(x='49' y='7.359' width='2' height='42.65')
				path#second(d='M51.752,57.76v-5.016c0.193-0.125,0.378-0.268,0.547-0.438c1.27-1.268,1.27-3.327,0-4.595c-0.506-0.507-1.14-0.802-1.797-0.904V7.259h-1v39.548c-0.659,0.103-1.292,0.397-1.799,0.904c-1.27,1.269-1.27,3.328,0,4.595c0.17,0.17,0.354,0.313,0.549,0.438v5.016c0,0.553,1.25,0.75,1.75,1C50.5,58.51,51.752,58.313,51.752,57.76z')
				circle#pin(cx='50' cy='50' r='0.325')

		script(src='scripts/main.js')